body {
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    font-size: 20px;
    background-color: #F8F4EA;
}

#programmer {
    color: #E1D7C6;
}

#copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    padding-top: 50px;
    margin: 50px auto 0 auto;
    color: #E1D7C6;
    line-height: 2;
 }
 
 h2 {
     font-family: "Montserrat", sans-serif;
     font-size: 2.5rem;
     color: #11999E;
     font-weight: normal;
 }
 
 h3 {
     font-family: "Montserrat", sans-serif;
     color: #11999E;
 }

 p {
    color: #40514E;
    padding-bottom: 100px;
    
 }

 hr {
    background-color: F8F4EA;
    border-color: #E1D7C6;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    padding-bottom: 100px;
    
 }

 a {
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px ;
}
a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #579BB1;
    position: relative;
    padding-top: 50px;
}

.middle-container {
    padding: 50px 0 50px 0;
}


.bottom-container {
   background-color: #66BFBF;
   padding: 50px 0 20px;
   
}

.mountain-img {
    position: relative;
    top:5px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    margin-bottom: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-img {
    width: 25%;
    padding: 30px;
}


.computer-image {
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.console-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: "Montserrat", sans-serif;
    color: #11999E;
    font-size: 20px;
    background: #E1D7C6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
